name: Check

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: "recursive"
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: nightly
        components: rustfmt
    - name: Check formatting
      run: cargo fmt --all -- --check
  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - arch: riscv64
          target: riscv64gc-unknown-none-elf
          args: ""
        - arch: loongarch64
          target: loongarch64-unknown-none-softfloat
          args: "--skip vf2"
        - arch: aarch64
          target: aarch64-unknown-none-softfloat
          args: "--skip vf2"
        - arch: x86_64
          target: x86_64-unknown-none
          args: "--skip vf2"
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: "recursive"
    - uses: arceos-org/setup-musl@v1
      with:
        arch: ${{ matrix.arch }}
    - uses: taiki-e/install-action@cargo-hack
    - name: Run Clippy
      run: cargo hack --target ${{ matrix.target }} --each-feature --keep-going --workspace ${{matrix.args}} clippy -- -D warnings
